#title {
  position: fixed;
  left:20%;
  top:12%;
  color: #807771;
  font-family: 'Secular One', sans-serif;
  font-size:69px;
  height:480px;
  width:700px;
  text-shadow:2px 2px 0px #d4a492;
}
#subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}
body {
	font-family: calibri;
	background-color: #ffbba3;
	font-size: 18px;
  font-color: #fff8f5;
  width: 600px;
  height: 500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Style the tab */
.tab {
    position: fixed;
    top: 140px;
    right: 730px;
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab {
    overflow: hidden;
    border: 5px solid #aa8e82;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #ffc8b5;
    float: left;
    border: none;
    outline: #b4d9d6;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #d4a492;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ffbba3;
}

/* Style the tab content */
.tabcontent {
    position: fixed;
    top: 20%;
    left: 20%;
    display: none;
    padding: 15px;
    overflow:auto;
    height:600px;
    width:900px;
    border:3px double #d4a492;
    box-shadow:7px 7px 0px #aa8e82;
    background-color:#d4a492;
}
