#title {
  position: fixed;
  left:30%;
  top:12%;
  color: #91c9c4;
  font-family: 'Secular One', sans-serif;
  font-size:69px;
  height:480px;
  width:700px;
}
#subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}
body {
	font-family: calibri;
	background-color: #fafafa;
	font-size: 18px;
  width: 600px;
  height: 500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Style the tab */
.tab {
    position: fixed;
    top: 140px;
    right: 700px;
    overflow: hidden;
    background-color: #dae8e7;
}

/* Style the buttons inside the tab */
.tab {
    overflow: hidden;
    border: 5px solid #b4d9d6;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #f0f9f4;
    float: left;
    border: none;
    outline: #b4d9d6;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #5fafa9;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #b4d9d6;
}

/* Style the tab content */
.tabcontent {
    position: fixed;
    top: 20%;
    left: 20%;
    display: none;
    padding: 15px;
    overflow:auto;
    height:600px;
    width:900px;
    border:3px double #b4d9d6;
    box-shadow:7px 7px 0px #b4d9d6;
    background-color:#f0f9f4;
}
