#nav {
	font-family: calibri;
	font-size: 16px;
	text-align:center;
	color: #B53F5A;
	border-top: 3px double #fbcccc;
	border-bottom: 3px double #fbcccc;
	padding-bottom:10px;
	position: fixed;
	left: 270px;
	top: 320px;
	z-index:-1;
}

body {
	font-family: calibri;
	background-color: #fafafa;
	font-size: 18px;
}

container {
  position:fixed;
    overflow:auto;
    height:480px;
    width:700px;
    align: center;
    border-top: 1x solid #b4d9d6;
    border-left:1px solid  #b4d9d6;
    border-right:1px solid  #b4d9d6;
    border-bottom:1px solid #b4d9d6;
    background-color:#f0f9f4;

}
